.page {
  margin: 50px;
}

.form {
  padding-top: 20px;
  margin-left: 70px;
}

p {
  padding-bottom: 5px;
}

.button {
  height: 50px;
  width:  100px;
  border-radius: 10px;
  color: #4e86e0;
}

.errors {
  color: red;
}

.table {
  padding-top: 20px;
}
