.banner {
  background-color: #e8eaed;
}

.button {
  height: 50px;
  width:  100px;
  border-radius: 10px;
  color: #4e86e0;
}

.container-fluid {
  width: 100%;
}

.errors {
  color: red;
}


.form {
  padding-top: 20px;
  margin-left: 70px;
}

p {
  padding-bottom: 5px;
}

.page {
  margin: 50px;
}


.table {
  padding-top: 20px;
}
